.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(52, 49, 49); /* Dark background color */
    padding: 10px 20px; /* Add padding to top and bottom */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays on top */
    border-bottom: 2px solid rgba(255, 255, 255, 0.1); /* Add bottom border */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .logo h1 {
    margin-right: 10px; /* Add spacing between logo and icon */
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .navbar ul li {
    margin-right: 20px; /* Add spacing between menu items */
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .navbar ul li a:hover {
    color: rgba(255, 255, 255, 0.8); /* Lighten text color on hover */
  }
  
  /* Styling for login button */
  .login-button button {
    margin-right: 50px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
  }
  
  .login-button button span {
    margin-left: 0px; /* Add spacing between icon and text */
  }
  